.titleAlarm {
  display: flex;
  align-items: center;
  color: var(--M3-sys-light-on-primary-fixed, #006a69);
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  width: 100%;
}

.button-container {
  height: 40px;
  justify-content: center;
  align-items: center;
}

.image-button {
  border: none;
  width: 150px;
  display: flex;
  height: 100%; /* Make the button take the full height of the container */
  align-items: center; /* Align items vertically within the button */
  border-radius: 100px;
  background: var(--M3-sys-light-secondary-container, #fdda62);
  color: var(--M3-sys-light-on-secondary-container, #564600);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.create-button {
  border: none;
  width: 100px;
  height: 40px;
  align-items: center; /* Align items vertically within the button */
  border-radius: 100px;
  background: var(--M3-sys-light-secondary-container, #fdda62);
  color: var(--M3-sys-light-on-secondary-container, #564600);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.icon {
  margin-right: 8px; /* Adjust the spacing between the icon and text */
}

.form-input{
  width: 541px;
}

.content {
  min-height: 90vh; /* Ensure minimum height of viewport */
}
