body {
  background-color: #f1f7f7;
}

.mat-toolbar {
  background: var(--M3-sys-light-primary-container, #18C2C1);
}

.title {
  display: flex;
  align-items: center;
  color: var(--M3-sys-light-on-primary-fixed, #002020);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.titleAlarm {
  display: flex;
  align-items: center;
  color: var(--M3-sys-light-on-primary-fixed, #006A69);
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-top: 100px;
}

.subTitle {
  color: var(--M3-sys-light-primary, #006A69);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.spacer {
  flex: 1 1 auto;
}

.option {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-left: 16px;
}

.itemList {
  background-color: white !important;
  border: 1px solid #f1f7f7;
  border-radius: 5px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
  color: black;
}

.category
{
  color: var(--M3-sys-light-on-primary-fixed, #006A69);
}

.custom-icon {
  transform: scale(2);
  background: url('../../assets/rec_logo.png') center/cover no-repeat; /* Adjust the path accordingly */
}

