<mat-toolbar color="primary">
    <mat-icon>menu</mat-icon>
    <span class="title">RemindMe</span>
    <span class="spacer"></span>
    <span class="option" >Reportes</span>
    <span class="option" (click)="navigateTo('comunidades')">Comunidades</span>
    <span class="option" >Cerrar Sesión</span>
</mat-toolbar>


<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <!-- Add the Bootstrap grid classes to align the content in column 3 -->
      <div class="titleAlarm">
          <img src="../../assets/alarma_home.png" alt="Icono" class="icon" />
          <span class="alarm-title">Alarmas</span>
      </div>
    </div>
    <div class="col-md-12 mt-4">
      <div class="subTitle">
          <span>Esta Semana</span>
      </div>
    </div>
  </div>
</div>

  