<div class="login__54904-9315">
  <div class="rectangle-1__54904-11349">
    <div class="logo-container">
      <img src="../../assets/logo.png" alt="Logo" width="264" height="264" class="logo-image" />
    </div>
    <div class="text-remindme__56819-35653">
      RemindMe
    </div>
    <div class="button-container">
      <a routerLink="/home">
        <div class="button__56820-28915">
          <img src="../../assets/google.png" alt="Google Icon" width="32" height="35" class="google-icon" />
          Ingresa con Google
        </div>
      </a>
    </div>
    <div class="button-container">
      <a routerLink="/home">
        <div class="button__56820-28915">

          <img src="../../assets/apple.png" alt="Apple Icon" width="30" height="35" class="apple-icon" />
          Ingresa con Apple ID
        </div>
      </a>
    </div>
  </div>
</div>
